.ant-layout-header {
  height: 50px;
  line-height: 50px;
}
.ant-layout-header .header .ant-breadcrumb {
  display: inline-block;
}
.ant-layout-header .header .user {
  text-align: center;
  margin-right: 20px;
  float: right;
}
.ant-layout-header .header .user li {
  cursor: pointer;
  padding: 0 20px;
}
.ant-layout-header .header .user li:not(:nth-child(1)) {
  display: none;
}
.ant-layout-header .header .user:hover li:not(:nth-child(1)) {
  display: block;
  font-weight: 700;
  background-color: #eee;
}
